<div class="container fadeIn animated fast pt-3">
    <h4 class="title my-3">
        <i class="fas fa-coffee"></i>
        <div class="d-inline ml-2">Desayunos a domicilio</div>
    </h4>
    <p>Qué mejor que despertar por la mañana a esa persona que quieres con un buen desayuno en la cama. Puedes recogerlo tú mismo o solicitar el servicio de entrega en domicilio (sólo Boadilla del Monte, Madrid).</p>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            DESAYUNO INDIVIDUAL 1
          </button>
                </h2>
                <div class="mt-1">
                    <span style="font-size: 1.3rem;">Total: </span>
                    <strong style="font-size: 1.3rem;" class="text-danger">€25</strong>
                </div>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Paquete de mini tostas (BIMBO)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Zumo Bifrutas (200ml)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Aceite + tomate triturado (individual)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tarrina de queso de Burgos
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Barrita de cereales
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cupcake personalizado
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Mini palmeras caseras
                            <span class="badge badge-info badge-pill">8</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Mini cruasanes rellenos de chocolate o dulce de leche caseros
                            <span class="badge badge-info badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Galletas personalizadas
                            <span class="badge badge-info badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cesta o caja con el desayuno
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        DESAYUNO INDIVIDUAL 2
          </button>
                </h2>
                <div class="mt-1">
                    <span style="font-size: 1.3rem;">Total: </span>
                    <strong style="font-size: 1.3rem;" class="text-danger">€25</strong>
                </div>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Paquete de mini tostas (BIMBO)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Zumo Bifrutas (200ml)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Aceite + tomate triturado (individual)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tarrina de queso de Burgos
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Barrita de cereales
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cupcake personalizado
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Mini palmeras caseras
                            <span class="badge badge-info badge-pill">8</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Mini cruasanes rellenos de chocolate o dulce de leche caseros
                            <span class="badge badge-info badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Galletas personalizadas
                            <span class="badge badge-info badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cesta o caja con el desayuno
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        DESAYUNO INDIVIDUAL 3
          </button>
                </h2>
                <div class="mt-1">
                    <span style="font-size: 1.3rem;">Total: </span>
                    <strong style="font-size: 1.3rem;" class="text-danger">€30</strong>
                </div>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Paquete de mini tostas (BIMBO)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Zumo Bifrutas (200ml)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Aceite + tomate triturado (individual)
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tarrina de queso de Burgos
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Barrita de cereales
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cupcake personalizado
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Mini palmeras caseras
                            <span class="badge badge-info badge-pill">8</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Mini cruasanes rellenos de chocolate o dulce de leche caseros
                            <span class="badge badge-info badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Galletas personalizadas
                            <span class="badge badge-info badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cesta o caja con el desayuno
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="mt-3">Puedes elegir alguna de las opciones propuestas o solicitar presupuesto para un desayuno totalmente personalizado.</p>
    <button type="button" class="btn btn-outline-danger btn-lg btn-block mx-auto mt-4" style="width: 40%;" [routerLink]="[ '/contact' ]">Contacto</button>
</div>