<div class="row mt-2 animated fadeIn fast">
    <div class="card border-light col-lg-4 w-100 accountCard" [routerLink]="['/user/profile']" style="width: 18rem;">
        <div class="card-body">
            <i class="far fa-user fa-3x float-left mr-3"></i>
            <h5 class="card-title mt-3">Mi perfil</h5>
            <p class="card-text mt-3">Completa tu perfil con la máxima información para obtener una atención personalizada</p>
        </div>
    </div>
    <div class="card border-light col-lg-4 w-100 accountCard" [routerLink]="['/user/my-orders']" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-box-open fa-3x float-left mr-3"></i>
            <h5 class="card-title mt-3">Mis pedidos</h5>
            <p class="card-text mt-3">Sigue el estado de tus pedidos y obten la factura de la compra.</p>
        </div>
    </div>
    <div class="card border-light col-lg-4 w-100 accountCard" [routerLink]="['/products/all-products']" style="width: 18rem;">
        <div class="card-body">
            <i class="fas fa-utensils fa-3x float-left mr-3"></i>
            <h5 class="card-title mt-3">Ver productos</h5>
            <p class="card-text mt.3">Echa un vistazo a nuestro catálogo de productos y haz tu pedido.</p>
        </div>
    </div>
</div>