<!--Modal: Product Form-->
<div class="modal fade p-0" id="createProductForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" #myModal>
    <div class="modal-dialog cascading-modal" role="document">
        <form [formGroup]="form" (ngSubmit)="addProduct()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title">
                        <i class="fas fa-drumstick-bite"></i><i class="fas fa-plus fa-xs"></i> Crear Producto</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                </div>
                <small class="text-muted mt-2 ml-2">*Valores obligatorios</small>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="">Nombre*</label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': !form.controls['nombreP'].valid, 'is-valid': form.controls['nombreP'].valid }" type="text" placeholder="Nombre producto" formControlName="nombreP">
                        <div *ngIf="form.controls['nombreP'].errors?.minlength" class="form-control-feedback">
                            Por lo menos 3 caracteres.
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="">Precio producto*</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': !form.controls['costeUnidad'].valid, 'is-valid': form.controls['costeUnidad'].valid }" type="number" placeholder="Precio producto" formControlName="costeUnidad">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="">Producto disponible*</label>
                            <select class="custom-select" [ngClass]="{ 'is-invalid': !form.controls['disponibilidad'].valid, 'is-valid': form.controls['disponibilidad'].valid }" formControlName="disponibilidad">
                              <option value="">Disponibilidad</option>
                              <option value=1>Sí</option>
                              <option value=0>No</option>
                            </select>
                        </div>
                    </div>
                    <label class="">Imagen del producto*</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" [ngClass]="{ 'is-invalid': !form.controls['uploadFile'].valid, 'is-valid': form.controls['uploadFile'].valid }" formControlName="uploadFile">
                        <label class="custom-file-label" for="validatedCustomFile">Imagen del producto...</label>
                    </div>
                    <h5 class="mt-3">Ingredientes</h5>
                    <hr class="mb-2">
                    <div class="form-row" *ngFor="let ingrediente of ingredientList; let i = index">
                        <div class="col-9 mb-3">
                            <input type="text" class="form-control" type="text" value="{{ingrediente.nombre}}" readonly>
                        </div>
                        <div class="col-3 mb-3">
                            <button (click)="borrarIngrediente(i)" type="button" class="btn btn-outline-danger w-100">
                                    Eliminar
                            </button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#createIngredientForm">
                            Añadir Ingrediente
                    </button>
                    <div class="text-center mt-2">
                        <button class="buttonReg" (click)="cerrarModal(myModal)" type="submit" [disabled]="!form.valid" class="btn btn-info waves-light" mdbRippleRadius>Crear
                                <i class="fa fa-sign-in ml-1"></i>
                            </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Modal: Ingredient Form-->
<div class="modal fade p-0" id="createIngredientForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false" #myModal2>
    <div class="modal-dialog cascading-modal modal-sm ingForm" role="document">
        <form [formGroup]="formIng" (ngSubmit)="addIngredient()">
            <div class="modal-content">
                <div class="modal-header light-blue darken-3 white-text">
                    <h4 class="title">
                        <i class="fas fa-plus fa-xs"></i> Añadir Ingrediente</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                </div>
                <small class="text-muted mt-2 ml-2">*Valores obligatorios</small>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="">Nombre*</label>
                        <input class="form-control" [ngClass]="{ 'is-invalid': !formIng.controls['nombreI'].valid, 'is-valid': formIng.controls['nombreI'].valid }" type="text" placeholder="Nombre Ingrediente" formControlName="nombreI">
                        <div *ngIf="formIng.controls['nombreI'].errors?.minlength" class="form-control-feedback">
                            Por lo menos 3 caracteres.
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-8 mb-3">
                            <label class="">Marca*</label>
                            <input class="form-control" [ngClass]="{ 'is-invalid': !formIng.controls['marca'].valid, 'is-valid': formIng.controls['marca'].valid }" type="text" placeholder="Marca Ing." formControlName="marca">
                        </div>
                        <div class="form-group col-4">
                            <label class="">Alérgenos*</label>
                            <select class="custom-select" [ngClass]="{ 'is-invalid': !formIng.controls['alergenos'].valid, 'is-valid': formIng.controls['alergenos'].valid }" formControlName="alergenos">
                                  <option value="">Tiene</option>
                                  <option value="si">Sí</option>
                                  <option value="no">No</option>
                                </select>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <button class="buttonReg" (click)="cerrarModal(myModal2)" type="submit" [disabled]="!formIng.valid" class="btn btn-info waves-light" mdbRippleRadius>Guardar
                                    <i class="fa fa-sign-in ml-1"></i>
                                </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="mostrarNotificacion" class="notificacion animated fadeIn fast alert" [ngClass]="{' alert-success': !hayError, 'alert-danger': hayError}" role="alert">
    <strong>{{this.textoNotificacion}}</strong>
</div>